*~
*.c
*.o
!ltedfapegtest_m.c
!jsondata_debug.c
!jsondata_lib.c
*.h
*.out*
\#*
.pvscontext
pvsbin
lte
lte.dSYM
parsed_tree.json
parsed_tree_raw.json
jsondata_interface
bsparsestr
bsparsenum
jsondata_debug
dfa
stringutils
jsondata
itoa
libpvsjson.*