<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>Apple clang version 12.0.0 (clang-1200.0.32.29)</string>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>302</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>302</integer>
           <key>col</key><integer>33</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>308</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>308</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>308</integer>
      <key>col</key><integer>19</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>308</integer>
         <key>col</key><integer>19</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>308</integer>
         <key>col</key><integer>34</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Assuming &apos;ivar_4&apos; is equal to &apos;ivar_5&apos;</string>
     <key>message</key>
     <string>Assuming &apos;ivar_4&apos; is equal to &apos;ivar_5&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>308</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>308</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>309</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>309</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>309</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>309</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>309</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>309</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>pop-up</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>309</integer>
      <key>col</key><integer>13</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>309</integer>
         <key>col</key><integer>13</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>309</integer>
         <key>col</key><integer>18</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>extended_message</key>
     <string>&apos;ivar_3&apos; is true</string>
     <key>message</key>
     <string>&apos;ivar_3&apos; is true</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>309</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>309</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>310</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>310</integer>
           <key>col</key><integer>44</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>310</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>310</integer>
           <key>col</key><integer>44</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>313</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>313</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>313</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>313</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>313</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>313</integer>
           <key>col</key><integer>23</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>313</integer>
      <key>col</key><integer>18</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>313</integer>
         <key>col</key><integer>18</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>313</integer>
         <key>col</key><integer>31</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Assuming &apos;result&apos; is equal to NULL</string>
     <key>message</key>
     <string>Assuming &apos;result&apos; is equal to NULL</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>313</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>313</integer>
           <key>col</key><integer>23</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>314</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>314</integer>
           <key>col</key><integer>44</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>314</integer>
      <key>col</key><integer>46</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>314</integer>
         <key>col</key><integer>46</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>314</integer>
         <key>col</key><integer>51</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Passing null pointer value via 1st parameter &apos;x&apos;</string>
     <key>message</key>
     <string>Passing null pointer value via 1st parameter &apos;x&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>314</integer>
      <key>col</key><integer>14</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>314</integer>
         <key>col</key><integer>14</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>314</integer>
         <key>col</key><integer>52</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Calling &apos;release_bytestrings__bytestring&apos;</string>
     <key>message</key>
     <string>Calling &apos;release_bytestrings__bytestring&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>92</integer>
      <key>col</key><integer>1</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>depth</key><integer>1</integer>
     <key>extended_message</key>
     <string>Entered call from &apos;bytestrings__doubleplus&apos;</string>
     <key>message</key>
     <string>Entered call from &apos;bytestrings__doubleplus&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>92</integer>
           <key>col</key><integer>1</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>92</integer>
           <key>col</key><integer>4</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>93</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>93</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>93</integer>
      <key>col</key><integer>9</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>93</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>93</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>1</integer>
     <key>extended_message</key>
     <string>Access to field &apos;count&apos; results in a dereference of a null pointer (loaded from variable &apos;x&apos;)</string>
     <key>message</key>
     <string>Access to field &apos;count&apos; results in a dereference of a null pointer (loaded from variable &apos;x&apos;)</string>
    </dict>
   </array>
   <key>description</key><string>Access to field &apos;count&apos; results in a dereference of a null pointer (loaded from variable &apos;x&apos;)</string>
   <key>category</key><string>Logic error</string>
   <key>type</key><string>Dereference of null pointer</string>
   <key>check_name</key><string>core.NullDereference</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>7578ef1a60639c885db58593e01b36c8</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>release_bytestrings__bytestring</string>
  <key>issue_hash_function_offset</key><string>1</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>93</integer>
   <key>col</key><integer>9</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>92</integer>
    <integer>93</integer>
    <integer>94</integer>
    <integer>301</integer>
    <integer>302</integer>
    <integer>303</integer>
    <integer>304</integer>
    <integer>305</integer>
    <integer>306</integer>
    <integer>307</integer>
    <integer>308</integer>
    <integer>309</integer>
    <integer>310</integer>
    <integer>312</integer>
    <integer>313</integer>
    <integer>314</integer>
   </array>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>223</integer>
      <key>col</key><integer>14</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>223</integer>
         <key>col</key><integer>23</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>223</integer>
         <key>col</key><integer>40</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;ivar_5&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;ivar_5&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;ivar_5&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>8a81065857019aac5d0689d89caef694</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>bytestrings__null</string>
  <key>issue_hash_function_offset</key><string>18</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>223</integer>
   <key>col</key><integer>14</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>223</integer>
   </array>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>251</integer>
      <key>col</key><integer>14</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>251</integer>
         <key>col</key><integer>23</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>251</integer>
         <key>col</key><integer>40</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;ivar_5&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;ivar_5&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;ivar_5&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>9b41115d17795856dedaf649cf56444e</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>bytestrings__unit</string>
  <key>issue_hash_function_offset</key><string>15</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>251</integer>
   <key>col</key><integer>14</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>251</integer>
   </array>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>616</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>616</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>623</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>623</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>623</integer>
      <key>col</key><integer>9</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>623</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>623</integer>
         <key>col</key><integer>50</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value assigned to &apos;ivar_3&apos;</string>
     <key>message</key>
     <string>Value assigned to &apos;ivar_3&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>623</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>623</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>624</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>624</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>624</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>624</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>624</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>624</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>624</integer>
      <key>col</key><integer>13</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>624</integer>
         <key>col</key><integer>13</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>624</integer>
         <key>col</key><integer>26</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Assuming &apos;ivar_3&apos; is equal to NULL</string>
     <key>message</key>
     <string>Assuming &apos;ivar_3&apos; is equal to NULL</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>624</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>624</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>625</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>625</integer>
           <key>col</key><integer>19</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>625</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>625</integer>
           <key>col</key><integer>19</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>625</integer>
           <key>col</key><integer>33</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>625</integer>
           <key>col</key><integer>38</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>625</integer>
      <key>col</key><integer>33</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>625</integer>
         <key>col</key><integer>33</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>625</integer>
         <key>col</key><integer>38</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Access to field &apos;length&apos; results in a dereference of a null pointer (loaded from variable &apos;ivar_3&apos;)</string>
     <key>message</key>
     <string>Access to field &apos;length&apos; results in a dereference of a null pointer (loaded from variable &apos;ivar_3&apos;)</string>
    </dict>
   </array>
   <key>description</key><string>Access to field &apos;length&apos; results in a dereference of a null pointer (loaded from variable &apos;ivar_3&apos;)</string>
   <key>category</key><string>Logic error</string>
   <key>type</key><string>Dereference of null pointer</string>
   <key>check_name</key><string>core.NullDereference</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>8a96b6c32cd80c238547c2a7e314becf</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>bytestrings__ascii_bytestringp</string>
  <key>issue_hash_function_offset</key><string>10</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>625</integer>
   <key>col</key><integer>33</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>615</integer>
    <integer>616</integer>
    <integer>617</integer>
    <integer>618</integer>
    <integer>619</integer>
    <integer>620</integer>
    <integer>621</integer>
    <integer>623</integer>
    <integer>624</integer>
    <integer>625</integer>
   </array>
  </dict>
  </dict>
 </array>
 <key>files</key>
 <array>
  <string>/Users/e21660/shankar/pvs.git/lib/bytestrings_c.c</string>
 </array>
</dict>
</plist>
