<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>Apple clang version 12.0.0 (clang-1200.0.32.29)</string>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>4815</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>4815</integer>
           <key>col</key><integer>29</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>4819</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>4819</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>4819</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>4819</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>4819</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>4819</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>4819</integer>
      <key>col</key><integer>13</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>4819</integer>
         <key>col</key><integer>13</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>4819</integer>
         <key>col</key><integer>26</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Assuming &apos;ivar_2&apos; is equal to NULL</string>
     <key>message</key>
     <string>Assuming &apos;ivar_2&apos; is equal to NULL</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>4819</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>4819</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>4820</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>4820</integer>
           <key>col</key><integer>45</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>4820</integer>
      <key>col</key><integer>47</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>4820</integer>
         <key>col</key><integer>47</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>4820</integer>
         <key>col</key><integer>52</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Passing null pointer value via 1st parameter &apos;x&apos;</string>
     <key>message</key>
     <string>Passing null pointer value via 1st parameter &apos;x&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>4820</integer>
      <key>col</key><integer>9</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>4820</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>4820</integer>
         <key>col</key><integer>53</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Calling &apos;release_ltedfapegproof__parsetree_adt&apos;</string>
     <key>message</key>
     <string>Calling &apos;release_ltedfapegproof__parsetree_adt&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>10</integer>
      <key>col</key><integer>1</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>depth</key><integer>1</integer>
     <key>extended_message</key>
     <string>Entered call from &apos;update_ltedfapegproof__parsetree_adt_subtwo&apos;</string>
     <key>message</key>
     <string>Entered call from &apos;update_ltedfapegproof__parsetree_adt_subtwo&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>10</integer>
           <key>col</key><integer>1</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>10</integer>
           <key>col</key><integer>4</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>11</integer>
           <key>col</key><integer>1</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>11</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>11</integer>
           <key>col</key><integer>1</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>11</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>11</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>11</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>11</integer>
      <key>col</key><integer>9</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>11</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>11</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>1</integer>
     <key>extended_message</key>
     <string>Access to field &apos;ltedfapegproof__parsetree_adt_index&apos; results in a dereference of a null pointer (loaded from variable &apos;x&apos;)</string>
     <key>message</key>
     <string>Access to field &apos;ltedfapegproof__parsetree_adt_index&apos; results in a dereference of a null pointer (loaded from variable &apos;x&apos;)</string>
    </dict>
   </array>
   <key>description</key><string>Access to field &apos;ltedfapegproof__parsetree_adt_index&apos; results in a dereference of a null pointer (loaded from variable &apos;x&apos;)</string>
   <key>category</key><string>Logic error</string>
   <key>type</key><string>Dereference of null pointer</string>
   <key>check_name</key><string>core.NullDereference</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>0903f849db2521070ca47b3eff3c0556</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>release_ltedfapegproof__parsetree_adt</string>
  <key>issue_hash_function_offset</key><string>1</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>11</integer>
   <key>col</key><integer>9</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>10</integer>
    <integer>11</integer>
    <integer>4814</integer>
    <integer>4815</integer>
    <integer>4816</integer>
    <integer>4818</integer>
    <integer>4819</integer>
    <integer>4820</integer>
   </array>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>5207</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>5207</integer>
           <key>col</key><integer>31</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>5211</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>5211</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>5211</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>5211</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>5211</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>5211</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>5211</integer>
      <key>col</key><integer>13</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>5211</integer>
         <key>col</key><integer>13</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>5211</integer>
         <key>col</key><integer>26</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Assuming &apos;ivar_2&apos; is equal to NULL</string>
     <key>message</key>
     <string>Assuming &apos;ivar_2&apos; is equal to NULL</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>5211</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>5211</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>5212</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>5212</integer>
           <key>col</key><integer>42</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>5212</integer>
      <key>col</key><integer>44</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>5212</integer>
         <key>col</key><integer>44</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>5212</integer>
         <key>col</key><integer>49</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Passing null pointer value via 1st parameter &apos;x&apos;</string>
     <key>message</key>
     <string>Passing null pointer value via 1st parameter &apos;x&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>5212</integer>
      <key>col</key><integer>9</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>5212</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>5212</integer>
         <key>col</key><integer>50</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Calling &apos;release_ltedfapegproof__qstack_adt&apos;</string>
     <key>message</key>
     <string>Calling &apos;release_ltedfapegproof__qstack_adt&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>1821</integer>
      <key>col</key><integer>1</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>depth</key><integer>1</integer>
     <key>extended_message</key>
     <string>Entered call from &apos;update_ltedfapegproof__qstack_adt_qpop&apos;</string>
     <key>message</key>
     <string>Entered call from &apos;update_ltedfapegproof__qstack_adt_qpop&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>1821</integer>
           <key>col</key><integer>1</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>1821</integer>
           <key>col</key><integer>4</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>1822</integer>
           <key>col</key><integer>1</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>1822</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>1822</integer>
           <key>col</key><integer>1</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>1822</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>1822</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>1822</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>1822</integer>
      <key>col</key><integer>9</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>1822</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>1822</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>1</integer>
     <key>extended_message</key>
     <string>Access to field &apos;ltedfapegproof__qstack_adt_index&apos; results in a dereference of a null pointer (loaded from variable &apos;x&apos;)</string>
     <key>message</key>
     <string>Access to field &apos;ltedfapegproof__qstack_adt_index&apos; results in a dereference of a null pointer (loaded from variable &apos;x&apos;)</string>
    </dict>
   </array>
   <key>description</key><string>Access to field &apos;ltedfapegproof__qstack_adt_index&apos; results in a dereference of a null pointer (loaded from variable &apos;x&apos;)</string>
   <key>category</key><string>Logic error</string>
   <key>type</key><string>Dereference of null pointer</string>
   <key>check_name</key><string>core.NullDereference</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>6aa76fca86cd5108d8d0d0a8f1320671</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>release_ltedfapegproof__qstack_adt</string>
  <key>issue_hash_function_offset</key><string>1</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>1822</integer>
   <key>col</key><integer>9</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>1821</integer>
    <integer>1822</integer>
    <integer>5206</integer>
    <integer>5207</integer>
    <integer>5208</integer>
    <integer>5210</integer>
    <integer>5211</integer>
    <integer>5212</integer>
   </array>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>5842</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>5842</integer>
           <key>col</key><integer>35</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>5849</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>5849</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>5849</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>5849</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>5849</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>5849</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>5849</integer>
      <key>col</key><integer>13</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>5849</integer>
         <key>col</key><integer>13</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>5849</integer>
         <key>col</key><integer>34</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Assuming field &apos;fvar_4&apos; is equal to NULL</string>
     <key>message</key>
     <string>Assuming field &apos;fvar_4&apos; is equal to NULL</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>5849</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>5849</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>5850</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>5850</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>5850</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>5850</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>5851</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>5851</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>5851</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>5851</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>5851</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>5851</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>5851</integer>
      <key>col</key><integer>13</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>5851</integer>
         <key>col</key><integer>13</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>5851</integer>
         <key>col</key><integer>34</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Assuming field &apos;fvar_5&apos; is equal to NULL</string>
     <key>message</key>
     <string>Assuming field &apos;fvar_5&apos; is equal to NULL</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>5851</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>5851</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>5852</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>5852</integer>
           <key>col</key><integer>39</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>5852</integer>
      <key>col</key><integer>41</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>5852</integer>
         <key>col</key><integer>41</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>5852</integer>
         <key>col</key><integer>46</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Passing null pointer value via 1st parameter &apos;x&apos;</string>
     <key>message</key>
     <string>Passing null pointer value via 1st parameter &apos;x&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>5852</integer>
      <key>col</key><integer>9</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>5852</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>5852</integer>
         <key>col</key><integer>47</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Calling &apos;release_ltedfapegproof_array_50&apos;</string>
     <key>message</key>
     <string>Calling &apos;release_ltedfapegproof_array_50&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>2804</integer>
      <key>col</key><integer>1</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>depth</key><integer>1</integer>
     <key>extended_message</key>
     <string>Entered call from &apos;ltedfapegproof__buildproof&apos;</string>
     <key>message</key>
     <string>Entered call from &apos;ltedfapegproof__buildproof&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>2804</integer>
           <key>col</key><integer>1</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>2804</integer>
           <key>col</key><integer>4</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>2805</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>2805</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>2805</integer>
      <key>col</key><integer>9</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>2805</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>2805</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>1</integer>
     <key>extended_message</key>
     <string>Access to field &apos;count&apos; results in a dereference of a null pointer (loaded from variable &apos;x&apos;)</string>
     <key>message</key>
     <string>Access to field &apos;count&apos; results in a dereference of a null pointer (loaded from variable &apos;x&apos;)</string>
    </dict>
   </array>
   <key>description</key><string>Access to field &apos;count&apos; results in a dereference of a null pointer (loaded from variable &apos;x&apos;)</string>
   <key>category</key><string>Logic error</string>
   <key>type</key><string>Dereference of null pointer</string>
   <key>check_name</key><string>core.NullDereference</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>1a8b9f9cefd9f470a5f1d2af07afa067</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>release_ltedfapegproof_array_50</string>
  <key>issue_hash_function_offset</key><string>1</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>2805</integer>
   <key>col</key><integer>9</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>2804</integer>
    <integer>2805</integer>
    <integer>4218</integer>
    <integer>4219</integer>
    <integer>4220</integer>
    <integer>4221</integer>
    <integer>4222</integer>
    <integer>4223</integer>
    <integer>4224</integer>
    <integer>5841</integer>
    <integer>5842</integer>
    <integer>5843</integer>
    <integer>5844</integer>
    <integer>5845</integer>
    <integer>5846</integer>
    <integer>5847</integer>
    <integer>5848</integer>
    <integer>5849</integer>
    <integer>5850</integer>
    <integer>5851</integer>
    <integer>5852</integer>
   </array>
  </dict>
  </dict>
 </array>
 <key>files</key>
 <array>
  <string>ltedfapegproof_c.c</string>
 </array>
</dict>
</plist>
